# environ file 
.vscode
.python-version
.idea
.DS_Store


# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# build
build
dist